* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form,
.container ul {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.container ul {
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: white;
    padding: 16px;
}

.container .userLogged {
    font-size: 2.5em;
    color: #333;
}

.container .userLogged .name {
    color: limegreen;
}